$diam:3rem;
#shrink-button{
  height:$diam;
  width:$diam;
  font-size: 3rem;
  border-radius: 50%;
  background-color: hsla(0,0,10,80);
  color:white;
  position: fixed;
  right:-4rem;
  bottom:2rem;
  opacity:0.7;
  z-index:3;
  box-shadow: 0 0.1rem 0.5rem 0.15rem hsla(0,0,10,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(.2,-0.03,.58,1.01);
}
#shrink-button:hover{
  cursor:pointer;
  box-shadow: 0 0.2rem 0.5rem 0.2rem hsla(0,0,10,0.5);
  filter:brightness(0.8);
  opacity:1;
}