$third:(1/3) * 100%;
$imgOpacity:0.8;
#grid-container {
  position: relative;
  width: 100%;
  height: inherit;
  .tile{
    height:$third;
    width:$third;
    position: absolute;
    color:white;
    text-align: center;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: filter 0.5s ease;
  }
  .tile:hover {
    cursor:pointer;
  }
  .tile-1 {
    //background-color: #27476E;
    background-image:
    linear-gradient(rgba(39, 71, 110,$imgOpacity), rgba(39, 71, 110,$imgOpacity)), 
    url('https://farm5.staticflickr.com/4457/37909450761_d9a4839cea_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:0%;
    left:0%;
  }
  .tile-2 {
    //background-color: #107a8a;
    background-image:
    linear-gradient(rgba(23, 137, 172, $imgOpacity), rgba(23, 137, 172, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4443/24054903108_c25dfc431e_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:0%;
    left:$third;
  }
  .tile-3 {
    //background-color: rgb(45, 112, 55);
    background-image:
    linear-gradient(rgba(45, 112, 55, $imgOpacity), rgba(45, 112, 55, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4468/37858314956_c487490381_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:0%;
    left:($third*2);
  }
  .tile-4 {
    //background-color: rgb(224, 152, 63);
    background-image:
    linear-gradient(rgba(224, 152, 63, $imgOpacity), rgba(224, 152, 63, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4443/37858315376_e7ae9e8a24_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:$third;
    left:0%;
  }
  .tile-5 {
    //background-color: rgb(116, 18, 29);
    background-image:
    linear-gradient(rgba(116, 18, 29, $imgOpacity), rgba(116, 18, 29, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4486/37909452501_1b2a9f8778_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:$third;
    left:$third;
  }
  .tile-6 {
    //background-color: rgb(83, 71, 111);
    background-image:
    linear-gradient(rgba(83, 71, 111, $imgOpacity), rgba(83, 71, 111, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4501/24054907228_eeaee2552c_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:$third;
    left:($third*2);
  }
  .tile-7 {
    //background-color: rgb(36, 115, 115);
    background-image:
    linear-gradient(rgba(36, 115, 115, $imgOpacity), rgba(36, 115, 115, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4452/37858313766_93bf1865b0_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:($third*2);
    left:0%;
  }
  .tile-8 {
    //background-color: rgb(167, 68, 130);
    background-image:
    linear-gradient(rgba(167, 68, 130, $imgOpacity), rgba(167, 68, 130, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4501/37858314256_2fabab8e60_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:($third*2);
    left:$third;
  }
  .tile-9 {
    //background-color: rgb(218, 91, 77);
    background-image:
    linear-gradient(rgba(218, 91, 77, $imgOpacity), rgba(218, 91, 77, $imgOpacity)), 
    url('https://farm5.staticflickr.com/4456/37858313376_e3319937b7_k.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    top:($third*2);
    left:($third*2);
  }
}