$third:(1/3) * 100%;

#grid-container {
  position: relative;
  width: 100%;
  height: inherit;
  transition:all 0.5s ease;
  .tile{
    height:$third;
    width:$third;
    position: absolute;
    color:white;
    text-align: center;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    //transition:all 0.5s cubic-bezier(.31,.26,.38,.95);
  }
  .tile:hover {
    cursor:pointer;
  }
  .tile-1 {
    background-color: #0D3B66;
    top:0%;
    left:0%;
  }
  .tile-2 {
    background-color: #007991;
    top:0%;
    left:$third;
  }
  .tile-3 {
    background-color: rgb(46, 126, 58);
    top:0%;
    left:($third*2);
  }
  .tile-4 {
    background-color: #ECA72C;
    top:$third;
    left:0%;
  }
  .tile-5 {
    background-color: #70161E;
    top:$third;
    left:$third;
  }
  .tile-6 {
    background-color: #554971;
    top:$third;
    left:($third*2);
  }
  .tile-7 {
    background-color: #EE6352;
    top:($third*2);
    left:0%;
  }
  .tile-8 {
    background-color: #A74482;
    top:($third*2);
    left:$third;
  }
  .tile-9 {
    background-color: #E09F7D;
    top:($third*2);
    left:($third*2);
  }
}