$tilesHeight:95vh;
.contain {
  height: 100vh;
  .header {
    text-align:center;
    padding:1rem 0;
    background-color:#031926;;
    color:white;
    height:(100vh-$tilesHeight);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .title{
      font-size:1.3rem;
      font-weight:100;
    }
    .office{
      font-size:1rem;
      font-weight:100;
    }
  }
  app-tiles {
    height:$tilesHeight;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
      font-size: 1.1rem !important;
  }
  .office{
    font-size:0.9rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .title {
      font-size: 0.9rem !important;
  }
  .office{
    font-size:0.7rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .title {
      font-size: 0.7rem !important;
  }
  .office{
    font-size:0.5rem !important;
  }
}
