$tilesHeight:92vh;
.contain {
  height: 100vh;
  .header {
    text-align:center;
    padding:1rem 0;
    background-color:#031926;;
    color:white;
    height:(100vh-$tilesHeight);
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1,h3{
      font-weight: 100;
    }
  }
  app-tiles {
    height:$tilesHeight;
  }
}
