.contain {
  height: 100vh;
  .t-center {
    text-align: center;
  }
  .header {
    padding:1rem 0;
    background-color:rgb(18, 59, 124);
    color:white;
    height:15vh;
  }
  app-tiles {
    height:85vh;
  }
}
